@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: mono;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "JetBrainsMono";
}

*::selection {
  background-color: #58515c;
}

@font-face {
  font-family: "JetBrainsMono";
  src:
    url("/fonts/JetBrainsMonoNF-Medium.woff2") format("woff2"),
    url("/fonts/JetBrainsMonoNF-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src:
    url("/fonts/JetBrainsMonoNF-Bold.woff2") format("woff2"),
    url("/fonts/JetBrainsMonoNF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src:
    url("/fonts/JetBrainsMonoNF-ExtraBold.woff2") format("woff2"),
    url("/fonts/JetBrainsMonoNF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
