@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: mono;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(https://fonts.bunny.net/css?family=jetbrains-mono:700,800);

body {
  margin: 0;
  font-family: "JetBrains Mono", "Fira Code", "Cascadia Code", "Source Code Pro",
    "IBM Plex Mono", "Menlo", "DejaVu Sans Mono", "Liberation Mono", monospace;
}

*::selection {
  background-color: #58515c;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    url("/fonts/JetBrainsMonoNF-Medium.woff2") format("woff2"),
    url("/fonts/JetBrainsMonoNF-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.drop-shadow-white:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #f7ddd9;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #f7ddd9 transparent;
  }
}
